<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>domain</key>
		<string>risingstars.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>9SC071xYHKSHLxiU9+H9v12La8p1feg1+XLOri9unyU=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-int.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>l+bC3G9sKHzos96tBxXlcQPFdLZU59NTyDof2/p8+Js=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-amap.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>PkvNdRpROqHqVcQ1Yvcr9A+pVkZJiK51yPGsWb+lEsY=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-int-amap.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>Cj/46qX+gPHyKuilHz+6eJXONQACmJI6o/QySQ6msFY=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-cn.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>IWSe8M7cEl2A+nSuiQ1q1V2lccvPNRBA01oy+fm/vAY=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-int-cn.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>Tw01LshcMwMGoIOlaVKmO0jwvqZxjCow1Akn3zRUkMY=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-ap.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>oZ0zLzkfQuIlDBys1/+zApdXrMJsVwJSILtkfcIQJ8c=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
	<dict>
		<key>domain</key>
		<string>risingstars-int-ap.daimler.com</string>
		<key>hashes</key>
		<array>
			<string>D2yQqUBypUtVPzT4yibokQeQNs/uHNWinADbiok0Gxk=</string>
			<string>KM3iZPSceB+hgYuNI+cSg4LRgTiUxCeGjrfXRQAY6Rs=</string>
			<string>SkntvS+PgjC9VZKzE1c/4cFypF+pgBHMHt27Nq3j/OU=</string>
		</array>
	</dict>
</array>
</plist>
